@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.rootWrapper,
.bodyWrapper {
  min-height: 100dvh;
  height: 100dvh;
}

.container {
  margin: 0 auto;
  padding-inline: 1rem;
}
